@font-face {
  font-family: 'volumefont';
  src: url('font/FIZZO-Heavy.otf');
}

@font-face {
  font-family: 'vcpfont';
  src: url('font/OnePiecefont.ttf');
}

@font-face {
  font-family: 'btnfont';
  src: url('font/mangati.ttf');
}
